* {
  box-sizing: border-box;
}

#content > * {
  margin-top: 0.2rem;
}

body {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#content {
  font-family: monospace;
  width: fit-content;

  th, td {
    border-left: 1px dotted gray;
    padding-right: 0.5rem;
    padding-left: 0.5rem;

    text-align: right;
  };

  th:first-child, td:first-child {
    border-left: none;
    padding-left: 0;
  };

  th:last-child, td:last-child {
    padding-right: 0;
  }
}

.row {
  display: flex;
  gap: 0.5rem;
  width: fit-content;
}

#bikeNameHolder {
  gap: 0;
}
#newData {
  font-family: monospace;
  gap: 0;

  padding: 0.2rem;
  background-color: #0001;

  width: auto;

  input {
    font-family: monospace;
    min-width: 0;
    padding: 0;
  };

  div {
    display: grid;
    place-items: center;
  };
}


.pLeft {
  margin-left: 0.5rem;
}



#datePopup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: grid;
  place-content: center;

  background-color: #0003;
}

#navbar {
  margin-left: 0.6rem;
  margin-right: 0.2rem;
  display: flex;
  gap: 0.2rem;
}

.removeDataButton {
  position: absolute;
  top: 0;
  bottom: 0;

  display: none;
}